<!--mensajeria/templates/servicios.html-->
{% extends 'base.html' %}
{% block title %} Lista de Servicios {% endblock %}

{% block header %}
    <h2>Lista de Servicios</h2>
{% endblock %}

{% block content %}
    <div>
        {% for servicio in servicios %}
            <div>
                {% if servicio.imagen %}
                <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}">
                {% endif %}
                <h2>{{ servicio.nombre }}</h2>
                <p>{{ servicio.descripcion|truncatechars:100 }}...</p>
                <p>${{ servicio.precio }}</p>
                <button>Solicitar</button>
                <a href= "{% url 'detalle' servicio.id %}"><button>Detalles</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}